@charset "UTF-8";
@import url(form.css);
.com-tab-box .tab-content {
  display: none; }

/* μΈν’‹ */
html {
  font-size: 14px; }

@media (max-width: 760px) {
  html {
    font-size: 12px; } }

button {
  border: none;
  background: none; }

button.basic {
  border: 1px solid #333;
  border-radius: 0.4rem;
  padding: 0.5rem 1rem; }

.ant-layout {
  background-color: #fff; }

.ant-layout-content {
  min-height: 50vh;
  width: 100%; }

.flex_box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row; }

.flex_box.j_bet {
  justify-content: space-between; }

.flex_box.j_cen {
  justify-content: center; }

.flex_box.j_end {
  justify-content: flex-end; }

.flex_box.a_start {
  align-items: flex-start; }

.flex_box.a_end {
  align-items: flex-end; }

.flex_box.d_col {
  flex-direction: column; }

.content_box {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem 1rem; }

.title_box {
  text-align: center;
  font-size: 16px;
  padding: 0.8em;
  border-bottom: 1px solid #e2e2e2; }

.title_box h2 {
  margin-bottom: 0; }

.login_box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
  width: 100vw;
  min-height: 30vh; }

header.header {
  width: 100%;
  height: 60px;
  padding: 0 1rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 100;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row; }

header.header .total_menu {
  width: 20px;
  height: 20px;
  z-index: 10;
  position: relative;
  border: none;
  background: none;
  cursor: pointer; }

header.header .total_menu .line {
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: #111;
  position: absolute;
  border-radius: 1px;
  transition: 0.2s; }

header.header .total_menu .top {
  left: 0;
  top: 0; }

header.header .total_menu .mid {
  left: 0;
  top: 9px; }

header.header .total_menu .bot {
  left: 0;
  bottom: 0; }

header.header .total_menu.on .top {
  top: 9px;
  transform: rotate(45deg); }

header.header .total_menu.on .bot {
  bottom: 9px;
  transform: rotate(-45deg); }

header.header .total_menu.on .mid {
  transform: translateX(-100%);
  opacity: 0; }

.nav_wrap {
  position: fixed;
  left: 0;
  top: 60px;
  z-index: 10;
  transition: 0.2s 0.2s;
  padding: 10px 2rem 0 0;
  transform: translateX(-100%);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column; }

.nav_wrap::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: calc(100% + 1rem);
  height: 100%;
  left: -1rem;
  top: 0;
  transition: 0.2s;
  transform: translateX(-100%);
  background: linear-gradient(to right, white, rgba(255, 255, 255, 0.3)); }

.nav_wrap .top {
  font-weight: 500;
  margin-bottom: 10px;
  transform: translateX(-100%);
  transition: 0.3s;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row; }

.nav_wrap li {
  margin-bottom: 0.7rem;
  transform: translateX(-100%);
  transition: 0.3s; }

.nav_wrap li a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border: 1px solid #555;
  background-color: #fff;
  border-radius: 5px;
  height: 36px;
  padding: 0 10px;
  color: #333; }

.nav_wrap li.ani_0 {
  transition-delay: 0; }

.nav_wrap li.ani_1 {
  transition-delay: 0.1s; }

.nav_wrap li.ani_2 {
  transition-delay: 0.2s; }

.nav_wrap li.ani_3 {
  transition-delay: 0.3s; }

.nav_wrap li.ani_4 {
  transition-delay: 0.4s; }

.nav_wrap li.ani_5 {
  transition-delay: 0.5s; }

.nav_wrap.on {
  left: 1rem;
  transform: translateX(0); }

.nav_wrap.on::before {
  transform: translateX(0); }

.nav_wrap.on .top {
  transform: translateX(0); }

.nav_wrap.on li {
  transform: translateX(0); }

.prod_list {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column; }

.prod_list li {
  width: 100%;
  margin-bottom: 1.5rem;
  padding: 1rem;
  border-bottom: 1px solid #e2e2e2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row; }

.prod_list li .cate {
  color: #888;
  font-size: 12px;
  margin-right: 1.5rem; }

.prod_list li .name_box {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column; }

.prod_list li .name_box .name {
  font-weight: bold; }

.prod_list li .name_box .option {
  color: #888;
  font-size: 12px;
  line-height: 1; }

.prod_list li .price {
  margin-left: auto;
  margin-right: 1.5rem; }
