@import "scss-common.scss";
@import "form.css";

html {
  font-size: 14px;
  @include mobile() {
    font-size: 12px;
  }
}

@include mobile() {
  /* iOS only */
  @supports (-webkit-touch-callout: none) {
    height: -webkit-fill-available;
  }
}

button {
  border: none;
  background: none;
  &.basic {
    background-color: $p-color;
    border-radius: 0.4rem;
    padding: 0.5rem 1rem;
    color: #fff;
  }
}

h3.title {
  @include flex();
  font-size: 15px;
  font-weight: bold;
  padding: 0 1rem;
  padding-bottom: 5px;
  margin-bottom: 0;
  border-bottom: 1px solid #888;
  svg {
    margin-right: 3px;
    font-size: 18px;
  }
}

.ant-layout {
  background-color: #fff;
}
.ant-layout-content {
  min-height: 50vh;
  width: 100%;
}

.flex_box {
  @include flex($a: center);
  &.j_bet {
    justify-content: space-between;
  }
  &.j_cen {
    justify-content: center;
  }
  &.j_end {
    justify-content: flex-end;
  }
  &.a_start {
    align-items: flex-start;
  }
  &.a_end {
    align-items: flex-end;
  }
  &.d_col {
    flex-direction: column;
  }
}

.content_box {
  max-width: 1000px;
  margin: 0 auto;
  &.pd {
    padding: 1rem;
  }
}

.loading {
  @include flex($j: center);
}

.has_btn_input {
  @include flex();
  .ant-form-item {
    flex: 1;
    margin-bottom: 0;
    margin-right: 5px;
  }
}

@include mobile() {
  .ant-form-item .ant-form-item-label {
    padding-bottom: 0;
  }
  .ant-form-item {
    margin-bottom: 1rem;
  }
}

.com_tab {
  @include flex();
  margin-top: 10px;
  margin-bottom: 1.5rem;
  position: relative;
  li {
    flex: 1;
    @include flex($j: center);
    height: 40px;
    border-bottom: 2px solid #ddd;
    &.on {
      border-bottom: 2px solid $p-color;
      font-weight: 700;
    }
  }
}

// 고정 등록버튼
.btn_buy {
  @include flex($j: center);
  background: $p-color;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  font-size: 28px;
  color: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  position: fixed;
  right: 1rem;
  bottom: 2rem;
  &:focus,
  &:hover,
  &:active {
    color: #fff;
  }
}

//타이틀
.title_box {
  h2 {
    margin-bottom: 0;
  }
  text-align: center;
  font-size: 16px;
  padding: 0.8em;
  border-bottom: 1px solid $bd-color;
}

//로그인화면
.login_box {
  @include flex($d: column, $j: center);
  flex: 1;
  height: 100vh;
  padding-bottom: 30vh;
  background-color: #fff;
  border: 4px solid #111;
  .form_box {
    width: 100%;
    padding: 0 2rem;
    max-width: 500px;
  }
  .ant-form-item {
    width: 100%;
  }
  .tit {
    font-size: 15px;
    margin-bottom: 5px;
    font-weight: 700;
    opacity: 0;
    animation: fadeIn 0.4s both;
  }
  .logo {
    width: 200px;
    height: 32px;
    margin-bottom: 40px;
    opacity: 0;
    animation: fadeIn 0.4s 0.6s both;
  }
  .btn_login {
    border: 1px solid #ddd;
    font-weight: bold;
    height: 40px;
    opacity: 0;
    animation: fadeIn 0.4s 0.6s both;
  }
  .copy {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    color: #888;
    font-size: 12px;
  }
  .btn_join {
    display: block;
    width: 100%;
    height: 40px;
    font-size: 16px;
    @include flex($j: center);
    border: 1px solid #111;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

//header
header.header {
  width: 100%;
  height: 60px;
  padding: 0 1rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 100;
  @include flex();
  .logo {
    width: 120px;
    position: absolute;
    left: 50%;
    top: 20px;
    margin-left: -60px;
  }
  .total_menu {
    width: 20px;
    height: 20px;
    z-index: 10;
    position: relative;
    border: none;
    background: none;
    cursor: pointer;
    .line {
      display: inline-block;
      width: 100%;
      height: 2px;
      background-color: #111;
      position: absolute;
      border-radius: 1px;
      transition: 0.2s;
    }
    .top {
      left: 0;
      top: 0;
    }
    .mid {
      left: 0;
      top: 9px;
    }
    .bot {
      left: 0;
      bottom: 0;
    }
    &.on {
      .top {
        top: 9px;
        transform: rotate(45deg);
      }
      .bot {
        bottom: 9px;
        transform: rotate(-45deg);
      }
      .mid {
        transform: translateX(-100%);
        opacity: 0;
      }
    }
  }
}

//nav
.nav_wrap {
  position: fixed;
  left: 0;
  top: 60px;
  z-index: 10;
  transition: 0.2s 0.2s;
  padding: 10px 2rem 0 0;
  transform: translateX(-100%);
  &::before {
    @include before($w: calc(100% + 1rem), $h: 100%) {
      left: -1rem;
      top: 0;
      transition: 0.2s;
      transform: translateX(-100%);
      background: linear-gradient(
        to right,
        rgba(255, 255, 255, 1),
        rgba(255, 255, 255, 0.3)
      );
    }
  }
  @include flex($d: column, $a: flex-start);
  .top {
    font-weight: 500;
    margin-bottom: 10px;
    transform: translateX(-100%);
    transition: 0.3s;
    @include flex();
  }
  li {
    margin-bottom: 0.7rem;
    transform: translateX(-100%);
    transition: 0.3s;
    a {
      @include flex($j: center);
      border: 1px solid #555;
      background-color: #fff;
      border-radius: 4px;
      height: 34px;
      padding: 0 10px;
      color: #333;
      font-size: 13px;
      position: relative;
      overflow: hidden;
    }
    &.ani_0 {
      transition-delay: 0;
    }
    &.ani_1 {
      transition-delay: 0.1s;
    }
    &.ani_2 {
      transition-delay: 0.2s;
    }
    &.ani_3 {
      transition-delay: 0.3s;
    }
    &.ani_4 {
      transition-delay: 0.4s;
    }
    &.ani_5 {
      transition-delay: 0.5s;
    }
  }
  &.on {
    left: 1rem;
    transform: translateX(0);
    &::before {
      transform: translateX(0);
    }
    .top {
      transform: translateX(0);
    }
    li {
      transform: translateX(0);
    }
  }
}

//prod_list
.prod_list {
  width: 100%;
  padding: 0 1rem;
  @include flex($d: column, $a: flex-start);
  li {
    width: 100%;
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid $bd-color;
    flex-wrap: wrap;
    border-radius: 0.5rem;
    @include flex();
    .top {
      width: 100%;
      margin-bottom: 0.8rem;
      line-height: 1;
      font-size: 12px;
      @include flex($j: space-between);
    }
    .name_box {
      @include flex($d: column, $a: flex-start);
      .name {
        font-weight: bold;
      }
      .option {
        color: #888;
        font-size: 12px;
        line-height: 1;
      }
    }
    .price {
      font-family: $font;
      margin-left: auto;
    }
    button {
      margin-left: 1.5rem;
    }
  }
}

.bg_box {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.3);
}

.sell_pop {
  .btn {
    width: 100%;
  }
}

/* admin */
.admin_top {
  padding: 1rem;
  border-bottom: 10px solid #f1f1f1;
  .ant-form {
    margin-bottom: 0;
  }
  margin-bottom: 10px;
}
.cate_list {
  @include flex();
  flex-wrap: wrap;
  li {
    width: 100%;
    padding: 0.5rem 0.8rem;
    margin-bottom: 8px;
    border-bottom: 1px solid $bd-color;
    @include flex($j: space-between);
    button {
      @include flex();
      font-size: 12px;
      svg {
        font-size: 14px;
        margin-right: 2px;
      }
    }
  }
}

//수익
.income_wrapper {
  .buy_sell_box {
    @include flex($d: column);
    dl {
      flex: 1;
      width: 100%;
      margin-bottom: 0;
      padding: 0.5rem 1rem;
      border-bottom: 1px solid $bd-color;
      position: relative;
      @include flex($j: space-between);
      dt {
        font-weight: bold;
      }
      dd {
        font-size: 18px;
        font-family: "Barlow";
        font-weight: 500;
        margin-bottom: 0;
        .txt {
          font-size: 14px;
        }
      }
    }
  }
  .plus {
    font-family: "Barlow";
    color: rgb(231, 40, 40);
  }
  .minus {
    font-family: "Barlow";
    color: rgb(65, 96, 235);
  }
  .income_tbl {
    margin-top: 2.5rem;
  }
}
