@charset "UTF-8";
@import url(form.css);
.com-tab-box .tab-content {
  display: none; }

/* μΈν’‹ */
html {
  font-size: 14px; }

@media (max-width: 760px) {
  html {
    font-size: 12px; } }

@media (max-width: 760px) {
  /* iOS only */
  @supports (-webkit-touch-callout: none) {
    height: -webkit-fill-available; } }

button {
  border: none;
  background: none; }

button.basic {
  background-color: #111;
  border-radius: 0.4rem;
  padding: 0.5rem 1rem;
  color: #fff; }

h3.title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 5px;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #888; }

h3.title svg {
  margin-right: 3px;
  font-size: 18px; }

.ant-layout {
  background-color: #fff; }

.ant-layout-content {
  min-height: 50vh;
  width: 100%; }

.flex_box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row; }

.flex_box.j_bet {
  justify-content: space-between; }

.flex_box.j_cen {
  justify-content: center; }

.flex_box.j_end {
  justify-content: flex-end; }

.flex_box.a_start {
  align-items: flex-start; }

.flex_box.a_end {
  align-items: flex-end; }

.flex_box.d_col {
  flex-direction: column; }

.content_box {
  max-width: 1000px;
  margin: 0 auto; }

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; }

.has_btn_input {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row; }

.has_btn_input .ant-form-item {
  flex: 1;
  margin-bottom: 0;
  margin-right: 5px; }

@media (max-width: 760px) {
  .ant-form-item .ant-form-item-label {
    padding-bottom: 0; }
  .ant-form-item {
    margin-bottom: 1rem; } }

.com_tab {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  margin-bottom: 1.5rem;
  position: relative; }

.com_tab li {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 34px;
  border-bottom: 2px solid #ddd; }

.com_tab li.on {
  border-bottom: 2px solid #111;
  font-weight: 700; }

.btn_buy {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background: #111;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  font-size: 28px;
  color: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  position: fixed;
  right: 1rem;
  bottom: 2rem; }

.btn_buy:focus, .btn_buy:hover, .btn_buy:active {
  color: #fff; }

.title_box {
  text-align: center;
  font-size: 16px;
  padding: 0.8em;
  border-bottom: 1px solid #e2e2e2; }

.title_box h2 {
  margin-bottom: 0; }

.login_box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
  height: 100vh;
  padding-bottom: 30vh;
  background-color: #fff;
  border: 4px solid #111; }

.login_box .form_box {
  width: 100%;
  padding: 0 2rem;
  max-width: 500px; }

.login_box .ant-form-item {
  width: 100%; }

.login_box .tit {
  font-size: 15px;
  margin-bottom: 5px;
  font-weight: 700;
  opacity: 0;
  animation: fadeIn 0.4s both; }

.login_box .logo {
  width: 200px;
  height: 32px;
  margin-bottom: 40px;
  opacity: 0;
  animation: fadeIn 0.4s 0.6s both; }

.login_box .btn_login {
  border: 1px solid #ddd;
  font-weight: bold;
  height: 40px;
  opacity: 0;
  animation: fadeIn 0.4s 0.6s both; }

.login_box .copy {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  color: #888;
  font-size: 12px; }

.login_box .btn_join {
  display: block;
  width: 100%;
  height: 40px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border: 1px solid #111; }

@keyframes fadeIn {
  to {
    opacity: 1; } }

header.header {
  width: 100%;
  height: 60px;
  padding: 0 1rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 100;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row; }

header.header .logo {
  width: 120px;
  position: absolute;
  left: 50%;
  top: 20px;
  margin-left: -60px; }

header.header .total_menu {
  width: 20px;
  height: 20px;
  z-index: 10;
  position: relative;
  border: none;
  background: none;
  cursor: pointer; }

header.header .total_menu .line {
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: #111;
  position: absolute;
  border-radius: 1px;
  transition: 0.2s; }

header.header .total_menu .top {
  left: 0;
  top: 0; }

header.header .total_menu .mid {
  left: 0;
  top: 9px; }

header.header .total_menu .bot {
  left: 0;
  bottom: 0; }

header.header .total_menu.on .top {
  top: 9px;
  transform: rotate(45deg); }

header.header .total_menu.on .bot {
  bottom: 9px;
  transform: rotate(-45deg); }

header.header .total_menu.on .mid {
  transform: translateX(-100%);
  opacity: 0; }

.nav_wrap {
  position: fixed;
  left: 0;
  top: 60px;
  z-index: 10;
  transition: 0.2s 0.2s;
  padding: 10px 2rem 0 0;
  transform: translateX(-100%);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column; }

.nav_wrap::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: calc(100% + 1rem);
  height: 100%;
  left: -1rem;
  top: 0;
  transition: 0.2s;
  transform: translateX(-100%);
  background: linear-gradient(to right, white, rgba(255, 255, 255, 0.3)); }

.nav_wrap .top {
  font-weight: 500;
  margin-bottom: 10px;
  transform: translateX(-100%);
  transition: 0.3s;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row; }

.nav_wrap li {
  margin-bottom: 0.7rem;
  transform: translateX(-100%);
  transition: 0.3s; }

.nav_wrap li a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border: 1px solid #555;
  background-color: #fff;
  border-radius: 4px;
  height: 34px;
  padding: 0 10px;
  color: #333;
  font-size: 13px;
  position: relative;
  overflow: hidden; }

.nav_wrap li.ani_0 {
  transition-delay: 0; }

.nav_wrap li.ani_1 {
  transition-delay: 0.1s; }

.nav_wrap li.ani_2 {
  transition-delay: 0.2s; }

.nav_wrap li.ani_3 {
  transition-delay: 0.3s; }

.nav_wrap li.ani_4 {
  transition-delay: 0.4s; }

.nav_wrap li.ani_5 {
  transition-delay: 0.5s; }

.nav_wrap.on {
  left: 1rem;
  transform: translateX(0); }

.nav_wrap.on::before {
  transform: translateX(0); }

.nav_wrap.on .top {
  transform: translateX(0); }

.nav_wrap.on li {
  transform: translateX(0); }

.prod_list {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column; }

.prod_list li {
  width: 100%;
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid #e2e2e2;
  flex-wrap: wrap;
  border-radius: 0.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row; }

.prod_list li .top {
  width: 100%;
  margin-bottom: 0.8rem;
  line-height: 1;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row; }

.prod_list li .name_box {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column; }

.prod_list li .name_box .name {
  font-weight: bold; }

.prod_list li .name_box .option {
  color: #888;
  font-size: 12px;
  line-height: 1; }

.prod_list li .price {
  font-family: "Barlow";
  margin-left: auto; }

.prod_list li button {
  margin-left: 1.5rem; }

.bg_box {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.3); }

.sell_pop .btn {
  width: 100%; }

.cate_list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap; }

.cate_list li {
  width: 100%;
  padding: 0.5rem 0.8rem;
  margin-bottom: 8px;
  border-bottom: 1px solid #e2e2e2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row; }

.cate_list li button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  font-size: 12px; }

.cate_list li button svg {
  font-size: 14px;
  margin-right: 2px; }

.income_wrapper .buy_sell_box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column; }

.income_wrapper .buy_sell_box dl {
  flex: 1;
  width: 100%;
  margin-bottom: 0;
  padding: 0.5rem;
  border-bottom: 1px solid #e2e2e2;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row; }

.income_wrapper .buy_sell_box dl dt {
  font-weight: bold; }

.income_wrapper .buy_sell_box dl dd {
  font-size: 18px;
  font-family: "Barlow";
  font-weight: 500;
  margin-bottom: 0; }

.income_wrapper .buy_sell_box dl dd .txt {
  font-size: 14px; }

.income_wrapper .plus {
  font-family: "Barlow";
  color: #e72828; }

.income_wrapper .minus {
  font-family: "Barlow";
  color: #4160eb; }

.income_wrapper .income_tbl {
  margin-top: 2.5rem; }
