@charset "UTF-8";
.com-tab-box .tab-content {
  display: none; }

/* μΈν’‹ */
.join-form-wrap {
  width: 100%;
  margin: 2rem auto;
  padding: 0 2rem;
  max-width: 500px; }

.join-form {
  width: 100%;
  margin: 0 auto; }

.join-form h1 {
  font-weight: 100;
  color: white;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #4f6294; }

.join-form p {
  padding-left: 10px;
  margin-top: 5px; }

.join-form p::before {
  display: inline;
  content: "β  "; }

.join-form input,
.join-form select {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #ddd;
  padding: 10px 15px;
  margin-top: 10px;
  font-size: 14px;
  color: #333; }

.join-form input::placeholder {
  color: #bbb; }

.join-form label {
  line-height: 2;
  text-align: left;
  display: block;
  font-weight: bold;
  margin-bottom: 13px;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 200; }

.join-form button[type="submit"],
.join-form input[type="submit"] {
  cursor: pointer;
  color: white;
  text-transform: uppercase;
  border: none;
  margin-top: 40px;
  padding: 20px;
  font-size: 17px;
  font-weight: 500; }

.join-form button[type="submit"]:active,
.join-form input[type="button"]:active,
.join-form input[type="submit"]:active {
  transition: 0.3s all;
  transform: translateY(3px);
  border: 1px solid transparent;
  opacity: 0.8; }

.join-form input:disabled {
  opacity: 0.4; }

.join-form input[type="button"]:hover {
  transition: 0.3s all; }

.join-form button[type="submit"],
.join-form input[type="button"],
.join-form input[type="submit"] {
  -webkit-appearance: none; }

.join-form button[type="button"] {
  display: block;
  appearance: none;
  background: #333;
  color: white;
  border: none;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 4px; }

.join-form hr {
  margin-top: 30px; }

.join-form button {
  display: block;
  appearance: none;
  margin-top: 40px;
  border: 1px solid #333;
  margin-bottom: 20px;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 4px; }

.join-form p {
  color: #111; }

.join-form button[type="submit"],
.join-form input[type="submit"] {
  background-color: black; }

.join-form button[type="submit"]:hover,
i.join-form nput[type="submit"]:hover {
  background: #111; }

.join-form-wrap .input-box {
  position: relative;
  margin-bottom: 20px; }

.join-form-wrap input {
  outline-color: #111; }

.join-form-wrap input + .place-holder {
  line-height: 1;
  margin: 0;
  display: inline-block;
  position: absolute;
  left: 15px;
  top: 15px;
  padding: 0 4px;
  color: #999;
  transition: all 0.2s; }

.join-form-wrap input:focus + .place-holder,
.join-form-wrap input + .place-holder.on {
  color: #111;
  font-size: 12px;
  top: -12px;
  padding-bottom: 2px;
  z-index: 10; }

.join-form-wrap input:focus + .place-holder span,
.join-form-wrap input + .place-holder.on span {
  position: relative;
  z-index: 2; }

.join-form-wrap input:focus + .place-holder::after,
.join-form-wrap input + .place-holder.on::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 4px;
  background: #fff;
  left: 0;
  bottom: 0; }

.join-form-wrap .radio .custom-radio {
  width: 0;
  height: 0; }

.join-form-wrap .radio .custom-radio + label {
  color: #666;
  height: 44px;
  border: 1px solid #e2e2e2;
  border-radius: 4px;
  flex: 1;
  cursor: pointer;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-right: 5px; }

.join-form-wrap .radio .custom-radio + label:last-child {
  margin-right: 0; }

.join-form-wrap .radio .custom-radio:checked + label {
  background-color: #111;
  color: #fff;
  border-color: #111;
  font-weight: 600; }

.join-form-wrap .btn_login {
  cursor: pointer;
  text-transform: uppercase;
  border: none;
  margin-top: 10px;
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid #111;
  width: 100%;
  display: block;
  text-align: center;
  border-radius: 4px; }
