@import "scss-common.scss";

@charset "UTF-8";
.join-form-wrap {
  width: 100%;
  margin: 50px auto;
  max-width: 500px;
}

.join-form {
  width: 100%;
  margin: 0 auto;
  h1 {
    font-weight: 100;
    color: white;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #4f6294;
  }

  p {
    padding-left: 10px;
    margin-top: 5px;
  }

  p::before {
    display: inline;
    content: "⚠ ";
  }

  input,
  select {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #ddd;
    padding: 10px 15px;
    margin-top: 10px;
    font-size: 14px;
    color: #333;
  }

  input::placeholder {
    color: #bbb;
  }

  label {
    line-height: 2;
    text-align: left;
    display: block;
    font-weight: bold;
    margin-bottom: 13px;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 200;
  }

  button[type="submit"],
  input[type="submit"] {
    cursor: pointer;
    color: white;
    text-transform: uppercase;
    border: none;
    margin-top: 40px;
    padding: 20px;
    font-size: 17px;
    font-weight: 500;
  }

  button[type="submit"]:active,
  input[type="button"]:active,
  input[type="submit"]:active {
    transition: 0.3s all;
    transform: translateY(3px);
    border: 1px solid transparent;
    opacity: 0.8;
  }

  input:disabled {
    opacity: 0.4;
  }

  input[type="button"]:hover {
    transition: 0.3s all;
  }

  button[type="submit"],
  input[type="button"],
  input[type="submit"] {
    -webkit-appearance: none;
  }

  button[type="button"] {
    display: block;
    appearance: none;
    background: #333;
    color: white;
    border: none;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 4px;
  }

  hr {
    margin-top: 30px;
  }

  button {
    display: block;
    appearance: none;
    margin-top: 40px;
    border: 1px solid #333;
    margin-bottom: 20px;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 4px;
  }
}

.join-form p {
  color: $p-color;
}
.join-form button[type="submit"],
.join-form input[type="submit"] {
  background-color: darken($p-color, 10%);
}
.join-form button[type="submit"]:hover,
i.join-form nput[type="submit"]:hover {
  background: $p-color;
}

//폼 커스텀
.join-form-wrap {
  .input-box {
    position: relative;
    margin-bottom: 20px;
  }
  input {
    outline-color: $p-color;
  }
  input + .place-holder {
    line-height: 1;
    margin: 0;
    display: inline-block;
    position: absolute;
    left: 15px;
    top: 15px;
    padding: 0 4px;
    color: #999;
    transition: all 0.2s;
  }
  input:focus + .place-holder,
  input + .place-holder.on {
    color: $p-color;
    font-size: 12px;
    top: -12px;
    padding-bottom: 2px;
    z-index: 10;
    span {
      position: relative;
      z-index: 2;
    }
    &::after {
      @include after(100%, 4px);
      background: #fff;
      left: 0;
      bottom: 0;
    }
  }
  .radio {
    .custom-radio {
      width: 0;
      height: 0;
      & + label {
        color: $fon-color;
        height: 44px;
        border: 1px solid $bd-color;
        border-radius: 4px;
        flex: 1;
        cursor: pointer;
        margin: 0;
        @include flex($j: center, $a: center);
        @include lastMr0($margin: 5px);
      }
      &:checked + label {
        background-color: $p-color;
        color: #fff;
        border-color: $p-color;
        font-weight: 600;
      }
    }
  }
}
